/* Media queries
 *
 * min-width: 0 (telas maiores que 0)
 * obs: o que tiver sendo definido aqui pode ser tirado dos outros arquivos css - redundante
 */
@media screen and (min-width: 0) { /* celulares */
  .destaques__principal, .destaques__categorias{
    grid-column: 1 / 5;
  }
  .destaques__secundario:nth-child(2), .destaques__secundario:nth-child(3), .destaques__secundario:nth-child(4), .destaques__secundario:nth-child(5) {
    display: none;
    grid-column: none;
    grid-row: none;
  }

  .populares__conteudo {
    flex-direction: column;
  }
  .populares__card {
    grid-template-rows: 150px auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) { /* tablets */
  .destaques__principal {
    grid-column: 1 / 4;
  }
  .destaques__secundario:nth-child(2) {
    display: flex;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
  }
  .destaques__secundario:nth-child(3) {
    display: flex;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
  }
  .destaques__secundario:nth-child(4) {
    display: flex;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
  }
  .destaques__secundario:nth-child(5) {
    display: flex;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
  }
  .destaques__categorias {
    grid-column: 1 / 3;
  }

  .populares__conteudo {
    flex-direction: row;
  }
  .populares__card {
    grid-template-rows: 173px auto;
    width: calc(50% - 1rem);
    margin-right: 1rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 992px) { /* notebooks menores / mais velhos */
  .populares__conteudo {
    flex-direction: row;
  }
  .populares__card {
    width: calc(33.33% - 1rem);
    margin-right: 1rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1200px) { /* notebooks maiores / mais novos / tvs */
  .populares__conteudo {
    flex-direction: row;
  }
  .populares__card {
    width: calc(20% - 1rem);
    margin-bottom: 3rem;
  }
}